.video-container {
    position: relative;
    width: 300px;
    height: 250px;
}
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
}

.cover-image {
    position: absolute;
    top: 0;
    left: 0;
}

.ending-image {
    position: absolute;
    top: 0;
    left: 0;
}

.clickthrough-container {
    position: absolute;
    bottom: 35px;
    left: 5px;
    cursor: pointer;
    height: 25px;
}
.clickthrough-container span {

}
.clickthrough-container img {
    width: 25px;
    margin-bottom: -7px;
}

.special-control {
    position : absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
}
.special-control img {
    width: 32px;
    height: 32px;
    display: none;    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}