.video-container {
    position: relative;
    width: 300px;
    height: 250px;
}
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
}

.cover-image {
    position: absolute;
    top: 0;
    left: 0;
}

