.video-container {
    position: relative;
    width: 300px;
    height: 250px;
}
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
}

.cover-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.ending-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.clickthrough-container {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 8;
}
.clickthrough-container span {

}
.clickthrough-container img {
    width: 25px;
    margin-bottom: -7px;
}

.control-replay {
    position : absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
}
.control-replay img {
    width: 32px;
    height: 32px;
    display: none;    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}

.special-control {
    position : absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
}
.special-control img {
    width: 32px;
    height: 32px;
    display: none;    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.default-control-play-container {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
}
.default-control-play-container img {
    width: 32px;
    height: 32px;
    display: none;    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.default-control-audio-container {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 0;
    right: 5px;
    z-index: 9;
}
.default-control-audio-container img {
    width: 32px;
    height: 32px;
    display: none;    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}
.default-control-replay-container {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}
.default-control-replay-container img {
    width: 32px;
    height: 32px;
    display: none;    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}
.default-control-replay-container svg {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 88; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 88;
  transition: all 1s linear;
}
